<h2>New collaborator</h2>

<%= render "form.html", changeset: @changeset,
                        action: collaborator_path(@conn, :create) %>

<%= link "Back", to: collaborator_path(@conn, :index) %>
